.container {
  box-sizing: border-box;
  background: #fff url('../images/container-bg.png');
  clear: both;
  display: block;
  margin: 0 auto;
  max-width: 1280px;
  overflow: hidden;
  position: relative;
}

.content-wrapper,
.section {
  background: transparent url('../images/content-bg.png') left top;
  background-size: 100% 1px;
  display: block;
  margin: 0 auto;
  overflow: hidden;
  max-width: 1024px;
  width: 100%;
}

.section.overflow-visible {
  *zoom:1;overflow: visible
}

.section.overflow-visible:after,.section.overflow-visible:before {
  content: "";
  display: table
}

.section.overflow-visible:after {
  clear: both
}

.content-block {
  float: left;
  margin: 1em 0 0;
  position: relative
}

.content-block-full {
  clear: both;
  display: block;
  width: 100%
}

.page-main-title,.section-title {
  color: #303030;
  cursor: default;
  font-size: 187.5%;
  line-height: 125%;
  text-transform: none;
  font-family: Flexo-Regular,arial,sans-serif
}

.section-title {
  margin: .5em 0
}

.section-title.no-margin {
  margin-top: 0;
  margin-bottom: 0
}

.section-title.no-padding {
  padding: 0
}

@media (min-width: 1px) and (max-width:460px) {
  .content-block,.content-block.no-margin {
      float:left;
      margin-right: -100%;
      width: 89.12%;
      margin-left: 5.4425%
  }

  .content-hero {
      margin-left: 0;
      width: 100%
  }

  .content-block-half,.content-block-half-first {
      clear: both;
      margin-top: 1em
  }

  .section-title.no-margin {
      margin-top: .5em;
      margin-left: .5em
  }
}

@media (min-width: 461px) and (max-width:720px) {
  .content-block,.content-block.no-margin {
      float:left;
      margin-right: -100%;
      width: 89.12%;
      margin-left: 5.4425%
  }

  .content-hero {
      margin-left: 0;
      width: 100%
  }

  .content-block-half,.content-block-half-first {
      clear: both;
      margin-top: 1em
  }

  .section-title.no-margin {
      margin-top: .5em;
      margin-left: .5em
  }
}


.column-6 {
  float: left;
  margin-right: -100%;
  width: 41.96%;
}

@media (min-width: 1px) and (max-width: 460px) {
  .column-6 {
    width: 100%;
  }
}

@media (min-width: 461px) and (max-width: 720px) {
  .column-6 {
    float: left;
    margin-right: -100%;
    width: 85.49%;
  }
}

.column-7 {
  float: left;
  margin-right: -100%;
  width: 49.22%;
}

@media (min-width: 1px) and (max-width: 460px) {
  .column-7 {
    width: 100%;
  }
}

@media (min-width: 461px) and (max-width: 720px) {
  .column-7 {
    float: left;
    margin-right: -100%;
    width: 85.49%;
  }
}

.column-12 {
  float: left;
  margin-right: -100%;
  width: 85.49%;
}

@media (min-width: 1px) and (max-width: 460px) {
  .column-12 {
    width: 100%;
  }
}

@media (min-width: 461px) and (max-width: 720px) {
  .column-12 {
    float: left;
    margin-right: -100%;
    width: 85.49%;
  }
}

.push-1 {
  margin-left: 7.2525%;
}

@media (min-width: 1px) and (max-width: 460px) {
  .push-1 {
    margin: 0;
  }

  body.static .push-1 {
    margin-left: 7.2525%;
  }
}

@media (min-width: 461px) and (max-width: 720px) {
  .push-1 {
    margin: 0;
    margin-left: 7.2525%;
  }
}

.push-2 {
  margin-left: 14.5125%;
}

@media (min-width: 1px) and (max-width: 460px) {
  .push-2 {
    margin: 0;
  }

  body.static .push-2 {
    margin-left: 14.5125%;
  }
}

@media (min-width: 461px) and (max-width: 720px) {
  .push-2 {
    margin: 0;
    margin-left: 14.5125%;
  }
}

.push-7 {
  margin-left: 50.7825%;
}

@media (min-width: 1px) and (max-width: 460px) {
  .push-7 {
    margin: 0;
  }

  body.static .push-7 {
    margin-left: 50.7825%;
  }
}

@media (min-width: 461px) and (max-width: 720px) {
  .push-7 {
    margin: 0;
    margin-left: 7.2525%;
  }
}

.push-8 {
  margin-left: 58.0325%;
}

@media (min-width: 1px) and (max-width: 460px) {
  .push-8 {
    margin: 0;
  }

  body.static .push-8 {
    margin-left: 58.0325%;
  }
}

@media (min-width: 461px) and (max-width: 720px) {
  .push-8 {
    margin: 0;
    margin-left: 7.2525%;
  }
}

